[submodule "docs/wiki"]
	path = docs/wiki
	url = git@github.com:Werkov/Completion.wiki.git
[submodule "libs/kenlm"]
	path = libs/kenlm
	url = git@github.com:Werkov/KenLM.git
[submodule "libs/pyqt4"]
	path = libs/pyqt4
	url = git@github.com:Werkov/PyQt4.git
[submodule "libs/sip4"]
	path = libs/sip4
	url = git@github.com:Werkov/SIP.git
